nav.navbar.navbar-light.bg-faded.navbar-toggleable-md
	button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#containerNavbarCenter", aria-controls="containerNavbarCenter", aria-expanded="false", aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#appTitle.collapse.navbar-collapse.navbar-brand Student Planner
	#containerNavbarCenter.collapse.navbar-collapse.justify-content-end
		ul.navbar-nav
			li.nav-item
				a.nav-link(href="#") Edit Classes
			li.nav-item
				a.nav-link(href="#") Edit Tasks
			li.nav-item
				a.nav-link(href="#") Settings
			li.nav-item
				a.nav-link(href="/auth/logout") Logout
