nav.navbar.navbar-light.bg-faded.navbar-toggleable-md
  if user
    button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#containerNavbarCenter", aria-controls="containerNavbarCenter", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
  #appTitle.collapse.navbar-collapse.navbar-brand Student Planner
  if user
    #containerNavbarCenter.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="#") Add Task
        li.nav-item
          a.nav-link(href="#") Task Feed
        li.nav-item
          a.nav-link(href="#") Calendar
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            if user.thumbnail
              img.rounded.profile-picture(src=user.thumbnail)
            else
              img.rounded.profile-picture(src="../img/person.png")
            | #{user.name}
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/settings/')
              span.fa.fa-cogs
              | &nbsp;&nbsp;Settings
            a.dropdown-item
              div.dropdown-divider
            a.dropdown-item(href='/auth/logout/')
              span.fa.fa-power-off
              | &nbsp;&nbsp;Logout
